{% extends "base.html" %}
{% block content %}

<h2>Kidagi SACCO Members List</h2>
<table width='100%'>
    <tr style='background-color:rgb(55, 56, 55); color: rgb(243, 237, 237); text-align: center; font: 17px Calibri' >
        <th>Member ID</th>
        <th>Name</th>
        <th>Contribution</th>
        </tr>


    {% for member in object_list %}
        <tr>
            <td>{{ member.memberid }}</td>
            <td>{{ member.membername }}</td>
            <td>{{ member.contribution }}</td>
            <td><a href="{% url 'members_edit' member.id %}">edit</a></td>
            <td><a href="{% url 'members_delete' member.id %}">delete</a></td>
    </tr>
    {% endfor %}
</table>
<a href="{% url 'members_form' %}"><button class="btn btn-info btn-sm" type="button">Register New Member</button> </a>

{% endblock %}
